<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>DetX</title>
    </head>
    <body>
        <div>
            <button id="capture">拍照</button>
        </div>
        
        <div>
            <video id="video" width="640" height="480" autoplay="autoplay" float="left"></video>
            <canvas id="canvas" width="640" height="480" float="right"></canvas>
        </div>

        <script>
            var video = document.getElementById("video");
            var canvas = document.getElementById("canvas");
            var context = canvas.getContext("2d");
            var text = document.getElementById("info");

            document.getElementById("capture").addEventListener("click", function () {
                //绘制画面
                context.drawImage(video, 0, 0, 640, 480);
            });

            navigator.mediaDevices.getUserMedia({video: true})
                .then(function (stream) {
                    video.srcObject = stream;
   
                    video.onloadedmetadata = function (e) {video.play();};
                    
                })
                .catch(function (err) {
                    console.log(err.name + ": " + err.message);
                });
            context.drawImage(video, 0, 0, 640, 480);


        </script>
    </body>
</html> 